language: node_js
node_js:  stable

sudo: required

addons:
  apt:
    sources:
     - google-chrome
    packages:
     -google-chrome-stable
  chrome: stable
  
notifications:
   slack: myspecialway:3s58KKj8R7El4OKWC1xtnZbK
   email: false

services:
  - docker

before_install:
  - docker pull node:carbon

before_script:
  - yarn global add lerna 
  - lerna bootstrap
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
 - lerna run test
 - yarn build
 - yarn docker
 - yarn deploy