dist: trusty
language: node_js
node_js:  stable

sudo: required


addons:
  chrome: stable

  
notifications:
   slack: myspecialway:3s58KKj8R7El4OKWC1xtnZbK
   email: false

services:
  - docker

before_install:
  - docker pull node:carbon

before_script:
  - yarn global add lerna 
  - lerna bootstrap
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
 - lerna run ci-test
 - lerna run ci-e2e
 - yarn build
 - yarn docker
 - yarn deploy